/*
 misc. styling for tiny things here and there
Wes W.
*/

.list-group hr {
    margin: 10px 0;
}

h5.albumTitle {
    max-height: 35px;
    overflow: hidden;
}

.album {
    min-height: 185px;
}

.album img,
.artistProfileAlbum img {
    margin: 5px;
}

.album img:hover {
    cursor: pointer;
    opacity: 0.75;
}

audio.trackSearchPreview,
audio.topTrack {
    width: 100%;
}

#profileSimilar .media {
    min-height: 140px;
}

#profileSimilar .media:hover {
    cursor: pointer;
    opacity: 0.75;
}

#profileSimilar img {
    margin-bottom: 5px;
}

#profileAlbums li.media {
    padding: 5px;
}

#profileAlbums li.media:hover {
    cursor: pointer;
}

#pfoileAlbums img:hover {
    opacity: 0.75;
}

#carousel-artist-profile-albums .carousel-indicators {
    background-color: rgba(0, 0, 0, 0.50);
    border-radius: 8px;
}

a.infoIcons {
    position: relative;
    left: 2.5em;
}

/* font-awesome override */
.fa.fa-8x {
    font-size: 8em;
}
